@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap');

:root {
  --light-main: #a080ff;
  --light-accent: #0069cb;
  --light-secondary: #012345;

  /* TODO: Finish dark mode in JS, add button in HTML template */
  --dark-main: #1a1857;
  --dark-accent: #32cae5;
  --dark-secondary: #abcdef;
}

body {
  background-color: var(--light-main);
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Playwrite AU NSW", cursive;
  color: var(--light-secondary);
  z-index: 1;
}

#search-form {
  display: flex;
  align-items: center;
  margin-top: 1vh;
  z-index: 0;
}

#location {
  font-family: inherit;
  width: 100vw;
  height: 7.5vh;
  padding-left: 7.5vw;
  position: relative;
  border: none;
  font-size: 5vh;
  text-align: center;
  color: var(--light-secondary);
  
}

#search {
  border: none;
  background: none;
  margin-right: 3vw;
  padding: 0;
  position: absolute;
  right: 0;
  color: var(--light-main);
}

#search svg {
  fill: var(--light-main);
}
